
.wrapper{
  float: left;
  text-align: center;
}
.button{
  background-color: #b8b8b8;
  border: 3px solid black;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.button:hover{
  background-color: #818181;
}

.button2{
  background-color: #bbbbbb;
  font-size: 30px;
  font-weight: 400;
  border: 3px;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  font-family: "Roboto", helvetica, arial, sans-serif;
}

body {
  background-color: #e9f4ff;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;

}


/* Nav */
.menu {
  background-color: #bbbbbb;
  font-size: 30px;
  font-weight: 400;
  padding: 10px;
}

.name {
  color: rgb(0, 0, 0);
  border: 1px solid black;
  padding: 2px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 35px;
}

.item {
  color: rgb(0, 0, 0);
  border: 3px solid black;
  margin: 3px;
  padding: 2px;
  border-radius: 5px;
}

.item:hover {
  background: #575757 !important;
  color: rgb(0, 0, 0) !important;
}

.grid{
  margin-left: 0px !important;
}





